TWELVE_DATA_API_KEY=
TWELVE_DATA_BASE_URL=https://api.twelvedata.com
MODEL_DIR=./models
PAPER_ACCOUNT_NAV=10000
PAPER_MARGIN_AVAILABLE=10000
TWELVE_DATA_SPREAD=0.0001
LOOKBACK_M5=5000
LOOKBACK_M15=1200
LOOKBACK_H1=600
